/* Layout.module.css */
.layout {
  display: flex;
  min-height: 100vh;
  width: 100vw;
<<<<<<< HEAD
  /* position:fixed;  */
}

.main {
  /* margin-left:15rem ; */
=======
  position:fixed;
}

.main {
  margin-left:15rem ;
>>>>>>> 83e4f7c (Sidebar is now fixed)
  flex: 1;
  min-width: 0;
  background: #f7f9fb;
  padding: 2rem;
  /* Add more styles as needed */
}


<<<<<<< HEAD
.main {
  margin-left: 15rem;      /* Same as sidebar width */
  height: 100vh;
  overflow-y: auto;
  background: #f7f9fb;
  padding: 2rem;
  min-width: 0;
  box-sizing: border-box;
}
=======
>>>>>>> 83e4f7c (Sidebar is now fixed)
